[Match]
Name=wlan0

[Link]
RequiredForOnline=routable

[Network]
DHCP=yes
IPv6AcceptRA=yes

IPv6PrivacyExtensions=kernel

IgnoreCarrierLoss=3s

[DHCPv4]
SendHostname=no
UseDNS=yes
RouteMetric=20
Anonymize=yes

[DHCPv6]
SendHostname=no

[IPv6AcceptRA]
UseDNS=yes
RouteMetric=10
